<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
    <main class="main">
        <aside class="aside">
            <h3>Delimita la conversación</h3>
            <div class="sector">
                <h4>Sector</h4>
                <div class="cont cont1">
                    <div class="opcion">
                        Agencia de energia
                    </div>
                    <div class="opcion">
                        Agencia de medio ambiente
                    </div>
                    <div class="opcion">
                        Mantenimineto de pozos
                    </div>
                    <div class="opcion">
                        Almacenamiento de petroleo
                    </div>
                </div>
            </div>
            
            <div class="actividad">
                <h4>Actividad</h4>
                <div class="cont">
                    <div class="opcion">
                        Transporte de petroleo por ducto terrestre
                    </div>
                    <div class="opcion">
                        Refinacion de pretorleo
                    </div>
                    <div class="opcion">
                        Almacenamiento de GLP en Cavernas
                    </div>
                </div>
            </div>
        </aside>
        <div class="principal">
            <header class="header">
                <h1>HYDRO-CHAT</h1>
            </header>
            <section class="chat-m">
                
            </section>
            <footer class="footer">
                <input type="text" placeholder="Escribe un mensaje para HYDRO-CHAT">
                <button type="button">Enviar</button>
            </footer>
        </div>
    </main>
</body>
</html>