<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/components.css">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header-left">
            <p>HYDRONET</p>
        </div>
        <div class="header-right">
            <div class="option-header">
                <i class='bx bxs-bell'></i>
            </div>
            <div class="option-header">
                <i class='bx bxs-user' ></i>
            </div>
            <div class="option-header">
                Perfil
            </div>
        </div>
    </header>
    <div class="content-body">
        <div class="feed-main">
            <div class="feed-main-one feed-main-body">
                <div class="feed-header">
                    <div class="option-menu">
                        Inicio
                    </div>
                    <div class="option-menu">
                        Reciente
                    </div>
                    <div class="option-menu">
                        Recomendaciones
                    </div>
                    <div class="option-menu">
                        Mis publicaciones   
                    </div>
                </div>
                <div class="feed-body background-old">
                    <div class="card-main">
                        <div class="header-card">
                            <div class="img-card">
                                
                            </div>
                            <div class="titulo-card">
                                <h4>Titulos de algo muy muy guapo</h4>
                            </div>
                            <div class="tags-card">
                                <div class="option-mini-alter">
                                    Ambiente
                                </div>
                                <div class="option-mini-alter">
                                    Ambiente
                                </div>
                                <div class="option-mini-alter">
                                    Ambiente
                                </div>
                                <div class="option-mini-alter">
                                    Ambiente
                                </div>
                                <div class="option-mini-alter">
                                    Ambiente
                                </div>
                            </div>
                        </div>
                        <div class="body-card">
                            <div class="type-contract">
                                Tipo de contratación: Servicio
                            </div>
                            <div class="expiration">
                                Plazo de contratación: 01/12/2024
                            </div>
                        </div>
                        <div class="footer-card">
                            <div class="autor-card">
                                Empresa
                            </div>
                            <div class="content-extra-card">
                                <div class="view-card">
                                    Visualizaciones: 7.5M
                                </div>
                                <div class="date-card">
                                    17/04/2024
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-main">
                        <div class="header-card">
                            <div class="img-card">
                                
                            </div>
                            <div class="titulo-card">
                                <h4>Titulos de algo muy muy guapo</h4>
                            </div>
                            <div class="tags-card">
                                dcs
                            </div>
                        </div>
                        <div class="body-card">
                            <div class="type-contract">
                                Tipo de contratación: Servicio
                            </div>
                            <div class="expiration">
                                Plazo de contratación: 01/12/2024
                            </div>
                        </div>
                        <div class="footer-card">
                            <div class="autor-card">
                                Empresa
                            </div>
                            <div class="content-extra-card">
                                <div class="view-card">
                                    Visualizaciones: 7.5M
                                </div>
                                <div class="date-card">
                                    17/04/2024
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-main">
                        <div class="header-card">
                            <div class="img-card">
                                
                            </div>
                            <div class="titulo-card">
                                <h4>Titulos de algo muy muy guapo</h4>
                            </div>
                            <div class="tags-card">
                                dcs
                            </div>
                        </div>
                        <div class="body-card">
                            <div class="type-contract">
                                Tipo de contratación: Servicio
                            </div>
                            <div class="expiration">
                                Plazo de contratación: 01/12/2024
                            </div>
                        </div>
                        <div class="footer-card">
                            <div class="autor-card">
                                Empresa
                            </div>
                            <div class="content-extra-card">
                                <div class="view-card">
                                    Visualizaciones: 7.5M
                                </div>
                                <div class="date-card">
                                    17/04/2024
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feed-main-one feed-main-aside">
                <div class="search">
                    <div class="search-icon">
                        <i class='bx bx-search' ></i>
                    </div>
                    <input class="search-input" type="search" name="" id="" placeholder="Buscar">
                </div>
                <div class="categorias">
                    <p>Categorias</p>
                    <div class="content-cate background-old">
                        <div class="option-basic">
                            Hidrocarburos
                        </div>
                        <div class="option-basic">
                            Floating
                        </div>
                        <div class="option-basic">
                            Energia
                        </div>
                        <div class="option-basic">
                            Seguridad
                        </div>
                        <div class="option-basic">
                            Ambiente
                        </div>
                        <div class="option-basic">
                            Hidrocarburos
                        </div>
                        <div class="option-basic">
                            Hidrocarburos
                        </div>
                        <div class="option-basic">
                            Energia
                        </div>
                        <div class="option-basic">
                            Energia
                        </div>
                        <div class="option-basic">
                            Seguridad
                        </div>
                        <div class="option-basic">
                            Ambiente
                        </div>
                        <div class="option-basic">
                            Hidrocarburos
                        </div>
                        <div class="option-basic">
                            Hidrocarburos
                        </div>
                        <div class="option-basic">
                            Energia
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>