<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
    <main class="main-login">
        <div class="img-login">

        </div>
        <div class="form">
            <h1>Iniciar Sesión</h1>
            <div class="formulario">
                <div class="input-cont">
                    <label for="">Correo electronico</label>
                    <input type="text" name="" id="">
                </div>
                <div class="input-cont">
                    <label for="">Correo electronico</label>
                    <input type="text" name="" id="">
                </div>
            </div>
            <div class="btn-cont-login">
                <div class="btn-iniciar">
                    <a href="#">Iniciar sesión</a>
                </div>
            </div>

            <div class="registrarse">
                <div class="pa"><p>¡Registrate aqui!</p></div>
                <div class="btn-iniciar">
                    <a href="#">Registrarse</a>
                </div>
            </div>

        </div>
    </main>
</body>
</html>