<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
    <main class="mian-register">
        <header class="header-register">
            <h1>Registrar Empresa</h1>
        </header>
        <div class="cont-register">
            <div class="section-register">
                <div class="header-register-section">
    
                </div>
            </div>
            <div class="form">
                <div class="input-cont">
                    <label for="">Nombre comercial de la empresa</label>
                    <input type="text" name="" id="">
                </div>
                <div class="input-cont">
                    <label for="">Razon social</label>
                    <input type="text" name="" id="">
                </div>
                <div class="input-cont">
                    <label for="">Documento repse</label>
                    <input type="file" name="" id="">
                    <p>¿No tienes tu documento repse?</p>
                    <p>Ingresa a la pagina oficial del gobierno para obtener tu registro repse <a href="https://repse.stps.gob.mx/">Ingresa aqui</a></p>
                </div>
                <div class="input-cont">
                    <label for="">Curriculum de empresa</label>
                    <input type="file" name="" id="">
                </div>
    
            </div>
            <div class="btn-iniciar">
                <a href="#">Continuar</a>
            </div>
        </div>
    </main>
</body>
</html>